{% extends 'base.html.twig' %}

{% block title %}User Localisation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ ip }}!</h1>

    {% if country.name is not null %}
    <div>
        <h1>You live in {{ country.name }}</h1>
        <div>
            <p>Other information</p>
            <ul>
                <li>Capital: {{ country.capital }}</li>
                <li>Population: {{ country.population }}</li>
                <li>Currency: {{ country.currency }}</li>
            </ul>
        </div>
    </div>
    {% else %}
        <p>We don't know yet where you are localised.</p>
    {% endif %}
</div>
{% endblock %}
